* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
    height: 100vh;
    background: linear-gradient(90deg, rgba(253,29,29,1) 50%, rgba(252,155,63,1) 100%, rgba(252,176,69,1) 100%);
}

.main-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20 0 20 0;
    background: white;    
    border: 10px solid #333333;
    border-radius: 25px;
    padding: 20px    
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    
}

li {
    margin: 4px;   
}

h1 {    
    font-weight: 800;
    border: 5px;    
}

.bold {
    font: bold;
}

.checklist-buttons {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(1, 200px);
}
button{
    background-color: #333333;
    color: white;
    height: 50px;
    width: 220px;
    border: none;    
}

button:hover {
    background-color: lightblue;
    cursor: pointer; /* Mouse pointer on hover */
    opacity: 70%;
  }

  .closing {
    width: 180px;
    display: flex;
    text-align: center;
    font-size: small;
    
  }
